{% extends 'tortukai/base.html' %}

{% block title %}
Apie mus
{% endblock %}

{% block content %}
<p>Daugiau nei prieš du mėnesiusi  įkurta „Dios Konditerija“ šiandien garsėja unikaliais proginiais
    bei firminiais tortais. Suburta konditerių komanda augo ir šiandien mūsų konditerijos ceche.</p>
    <p>Turime platų cukrainių tinklą Vilniuje ir Kaune, kur galima nusipirkti visada šviežių tortų, pyragų, pyragaičių, sausainių, desertų. Priimame užsakymus pagal kliento pageidavimus ir norus.</p>
    <p>Esame ištikimi kokybei ir ypatingam skoniui: naudojame tik šviežią grietinėlę, Lietuvos ūkininkų užaugintų uogų ir vaisių tyres, kuriose tik 10 proc. cukraus, plakame šviežius kiaušinius, naudojame natūralų sviestą, o naujų skonių ir derinių įkvėpimo semiamės parodose, gurmaniškų ir konditerijos tradicijų sostinėse vykstančiuose konkursuose, nuo Italijos iki Prancūzijos. Mūsų meistrai garsėja gebėjimu sukurti neįtikėtinus vaizdus, figūras, kitus puošybos elementus, kurie tortą paverčia meno kūriniu.</p>
    <p>Puošybos mados keičiasi, reiklūs ir smalsūs, pasauliui atviri klientai laukia naujų skonių ir derinių – taip mes auginame savo meistriškumą, likdami ištikimi tikriems, natūraliems produktams.</p>

{% endblock %}