{% extends 'tortukai/base.html' %}
{% load static %}
{% block title %}
{{cake.cake_name}} | aprasymas
{% endblock %}

{% block content %}
<div class="container py-3">
    <h1> {{cake.cake_name}} </h1>
    {% if cake.description %}
        <p><strong>Trumpas aprašymas: </strong> {{ cake.description | safe}}</p>
    {% endif %}
    <p><strong>Proga - </strong>{{cake.occasion}}</p>
    <p><strong>1kg kaina - </strong> {{cake.price}}eur</p>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px--mb-3 border bottom shadow-sm">
        {% if cake.pic %}
            <img style="max-width: 400px;" class="img-fluid img-thumbnail float-right ml-3" src="{{ cake.pic.url }}">
        {% else %}
            <img style="max-width: 400px;" class="img-fluid img-thumbnail float-right ml-3" src="{% static 'tortukai/img/commonpic.jpg' %}">
        {% endif %}
    </div>
    <div>   <h5>Atsiliepimai</h5>
        {% if cake.cake_reviews.count > 0%}
            {% for review in cake.cake_reviews.all %}
            <div class="card">
                <div class="card-body">
                    <span class="text-muted float-right">{{ review.created_at }}</span>
                    <h6 class="card-title">{{ review.subscriber }}</h6>
                    {{ review.content|safe }}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-secondary">Šiuo metu nėra atsiliepimų</div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="FieldWrapper">
            <h5>Palikite Atsiliepimą</h5>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.content }}<br/>
                <input type="submit" value="išsaugoti" class="btn btn-primary">
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}


