{% extends 'tortukai/base.html' %}
{% block content %}
    <div class="container py-3">
        <h1>Mano užsakymai</h1>
        {% if order_list %}
            {% include 'tortukai/includes/paginator.html' %}
            <div class="list-group">
                {% for order in order_list %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{% url 'book' copy.book.id %}">
                    <span class="flex-grow-1">{{ order.book }}</span>
                    <span class="badge badge-light badge-pill ml-1">{{ order.get_status_display }}</span>
                    <span class="badge {% if copy.is_overdue %}badge-danger{% else %}badge-dark{% endif %} badge-pill ml-1">pagaminti iki: {{ order.deadline }}</span>
                </a>
                {% endfor %}
            </div>
            {% include 'tortukai/includes/paginator.html' %}
        {% else %}
        <div class="alert alert-info">
            Šiuo metu nėra padaryta užsakymų
        </div>
        {% endif %}
    </div>
{% endblock content %}

{% block title %} Mano užsakymai | {{ block.super }}{% endblock title %}
