{% extends 'tortukai/base.html' %}
{% block content %}
<div class="container">
    <h1>Slaptažodžio keitimas</h1>
    {% if validlink %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            {% if form.new_password1.errors %}
            <div class="alert alert-danger">
                {{ form.new_password1.errors }}
            </div>
            {% endif %}
            <label for="id_new_password1">Naujas slaptažodis:</label><br>
            {{ form.new_password1 }}
        </div>
        <div class="form-group">
            {% if form.new_password2.errors %}
            <div class="alert alert-danger">
                {{ form.new_password2.errors }}
            </div>
            {% endif %}
            <label for="id_new_password2">Patvirtinkite dar kartą:</label><br>
            {{ form.new_password2 }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Pakeisti">
        </div>
    </form>
    {% else %}
        <div class="alert alert-danger">
            Slaptažodžio pakeitimo nuoroda negaliojanti. Prašome <a href="{% url 'password_reset' %}">inicijuoti slaptažodio pakeitima iš naujo</a>.
        </div>
    {% endif %}
</div>
{% endblock%}